In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [16]:
# File to Load (Remember to Change These)
one_bed = "1 bedroom data (1).csv"
two_bed = "2 bedroom data.csv"
three_bed = "3 bedroom data.csv"

# Read School and Student Data File and store into Pandas DataFrames
one_bed_pd = pd.read_csv(one_bed)
two_bed_pd = pd.read_csv(two_bed)
three_bed_pd = pd.read_csv(three_bed)
one_bed_pd

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2000,2/29/2000,...,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,203130.0,204759.0,...,623080.0,625507.0,628933.0,632876.0,637289.0,640636.0,643427.0,645039.0,645948.0,646339
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,140508.0,140720.0,...,593023.0,597679.0,606640.0,616061.0,624226.0,624529.0,625266.0,617756.0,611075.0,602290
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,92927.0,93100.0,...,135608.0,136779.0,138496.0,140133.0,142464.0,143903.0,144866.0,145233.0,145315.0,145854
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,130403.0,130946.0,...,239513.0,239793.0,240396.0,240675.0,241512.0,242322.0,242892.0,242944.0,243059.0,243191
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,64952.0,64855.0,...,133747.0,136074.0,138847.0,140875.0,143051.0,144660.0,146119.0,146301.0,146129.0,145872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,57061,28360,Captiva,city,FL,FL,"Cape Coral-Fort Myers, FL",Lee County,NaN,NaN,...,528350.0,547226.0,565735.0,589258.0,613690.0,637032.0,651345.0,657122.0,660760.0,663062
3819,9151,28364,Long Barn,city,CA,CA,"Sonora, CA",Tuolumne County,NaN,NaN,...,246040.0,253134.0,257916.0,259934.0,258141.0,257220.0,253089.0,249142.0,245085.0,243301
3820,8442,28439,Kirkwood,city,CA,CA,NaN,Alpine County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373179
3821,15829,28439,Point Roberts,city,WA,WA,"Bellingham, WA",Whatcom County,NaN,NaN,...,273143.0,278465.0,283712.0,291959.0,298814.0,300757.0,298538.0,300998.0,303171.0,304180
3822,46631,28439,Mount Charleston,city,NV,NV,"Las Vegas-Henderson-Paradise, NV",Clark County,NaN,NaN,...,NaN,NaN,NaN,NaN,318209.0,323462.0,323850.0,323556.0,319504.0,314113

In [22]:
one_beds_pd = one_bed_pd.loc[(one_bed_pd["RegionName"] == "Houston") | (one_bed_pd["RegionName"] == "San Antonio") | (one_bed_pd["RegionName"] == "Austin") & (one_bed_pd["State"] == "TX") ]
one_beds_pd
one_beds_pd.to_csv("Correct_1_bed.csv",
                  encoding="utf-8", index=False, header=True)

In [25]:
two_beds_pd = two_bed_pd.loc[(two_bed_pd["RegionName"] == "Houston") | (two_bed_pd["RegionName"] == "San Antonio") | (two_bed_pd["RegionName"] == "Austin") & (two_bed_pd["State"] == "TX") ]
two_beds_pd
two_beds_pd.to_csv("Correct_2_bed.csv",
                  encoding="utf-8", index=False, header=True)
two_beds_pd

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2000,2/29/2000,...,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,84999.0,84930.0,...,182160.0,183568.0,185713.0,188141.0,190966.0,193145.0,194475.0,195529.0,195398.0,195616.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,78397.0,78527.0,...,179738.0,182917.0,186796.0,190392.0,193487.0,195178.0,195540.0,195941.0,196434.0,196519.0
10,10221,10,Austin,city,TX,TX,"Austin-Round Rock-Georgetown, TX",Travis County,182303.0,184040.0,...,536111.0,549390.0,560734.0,569199.0,574776.0,570028.0,561031.0,550375.0,545319.0,543851.0
5680,18637,6129,Houston,city,MS,MS,NaN,Chickasaw County,NaN,NaN,...,79900.0,82062.0,83714.0,85041.0,86073.0,86864.0,87866.0,88681.0,88863.0,89160.0
8226,28591,9454,Houston,city,MO,MO,NaN,Texas County,NaN,NaN,...,111775.0,113980.0,115283.0,116383.0,116698.0,118331.0,120044.0,122012.0,122439.0,122721.0
8366,45822,9663,Houston,city,PA,PA,"Pittsburgh, PA",Washington County,NaN,NaN,...,177062.0,178496.0,180570.0,183123.0,185572.0,188182.0,189071.0,190003.0,189253.0,189624.0
9438,11987,11393,Houston,city,MN,MN,"La Crosse-Onalaska, WI-MN",Houston County,NaN,NaN,...,219466.0,220474.0,219724.0,219492.0,220565.0,222864.0,225083.0,227145.0,229213.0,231669.0
11683,55828,16194,Houston,city,DE,DE,"Dover, DE",Kent County,NaN,NaN,...,228600.0,231440.0,233085.0,236365.0,239332.0,242801.0,242080.0,243108.0,242585.0,244298.0
12252,55829,17968,Houston,city,OH,OH,"Sidney, OH",Shelby County,NaN,NaN,...,194480.0,197043.0,197227.0,197652.0,198269.0,200643.0,203407.0,205928.0,206942.0,208090.0

In [31]:
three_beds_pd = three_bed_pd.loc[(three_bed_pd["RegionName"] == "Houston, TX") | (three_bed_pd["RegionName"] == "San Antonio, TX") | (three_bed_pd["RegionName"] == "Austin, TX") ]
three_beds_pd
three_beds_pd.to_csv("Correct_3_bed.csv",
                  encoding="utf-8", index=False, header=True)
three_beds_pd

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,...,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022
5,394692,5,"Houston, TX",msa,TX,112070.7903,111884.9291,111932.3814,112243.5803,112401.8291,...,288260.5360,294065.2721,301611.3388,307817.0749,312700.4179,315552.3154,315835.8572,314409.0886,314021.3034,315089.3878
24,395055,24,"San Antonio, TX",msa,TX,122202.9026,121737.8291,121398.1582,121484.5017,121508.7761,...,317716.8855,322830.8114,331946.8063,338571.9221,341724.8126,344450.9786,342806.0899,342394.1584,341249.8233,339669.1419
29,394355,29,"Austin, TX",msa,TX,166909.2586,163902.4966,159222.8635,158114.7927,161428.3963,...,568407.2146,582523.7785,593016.3799,599321.9112,602636.6142,581486.1799,565944.9300,558280.9586,553043.4604,541124.6875